{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Лабораторная работа №2</h1>

        <p>
            В лабораторной работе добавлены страницы для просмотра данных HTTP-запроса:
            параметров URL, заголовков, cookie и данных формы. Также реализована проверка номера телефона.
        </p>

        <p class="fw-bold">
            1. Отображение данных запроса.
        </p>

        <p>В приложении доступны следующие страницы:</p>

        <ul class="my-3">
            <li><a href="{{ url_for('request_args') }}?name=Alex&group=241-3211&lab=2">Параметры URL</a></li>
            <li><a href="{{ url_for('request_headers') }}">Заголовки запроса</a></li>
            <li><a href="{{ url_for('request_cookies') }}">Cookie</a></li>
            <li><a href="{{ url_for('request_form') }}">Форма авторизации</a></li>
        </ul>

        <p class="fw-bold">
            2. Форма с обработкой ошибок.
        </p>

        <p>
            На отдельной странице добавлена форма для ввода номера телефона. После отправки формы
            номер проверяется на сервере и при корректном вводе выводится в формате 8-***-***-**-**.
        </p>

        <p>
            <a href="{{ url_for('phone') }}">Перейти к проверке телефона</a>
        </p>
    </div>
</div>
{% endblock %}
